

@using WebBanLaptop.Models
@model  List<Giohang>
@{
    ViewBag.Title = "DonDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div id="column-left" class="col-sm-3 hidden-xs column-left">

        </div>
        <div class="col-sm-9" id="content">
            <form enctype="multipart/form-data" method="post" action="#">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="text-align:center" class="text-center">Ảnh</td>
                                <td style="text-align:center" class="text-left">Tên sản phẩm</td>
                                <td style="text-align:center" class="text-left">Khuyến mại(%)</td>
                                <td style="text-align:center" class="text-left">Số lượng</td>
                                <td style="text-align:center" class="text-right">Đơn giá</td>
                                <td style="text-align:center" class="text-right">Tổng tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double tongtien = 0;
                                double VAT = 0;
                                double Thanhtoan = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align:center" class="text-center"><a href="#"><img class="img-thumbnail" title="@item.sTenSP" alt="@item.sTenSP" src="image/product/2product56x72.jpg"></a></td>
                                    <td style="text-align:center" class="text-left"><a href="@Url.Action("Index","ChiTietSanPham",new { @id=item.iMaSP })">@item.sTenSP</a></td>
                                    <td style="text-align:center" class="text-left">@item.dKhuyenMai</td>
                                    <td style="text-align:center" class="text-left">
                                        <div style="max-width: 200px;" class="input-group btn-block">
                                            <input type="text" class="form-control quantity" id="qty" size="1" value="@item.iSoLuong" name="quantity" style="width:80px;text-align:center" readonly>
                                        </div>
                                    </td>
                                    <td style="text-align:center" class="text-right">@string.Format("{0:0,0đ}", @item.dDonGia)</td>
                                    <td style="text-align:center" class="text-right">@string.Format("{0:0,0đ}", @item.dThanhTien)</td>
                                    <td class="text-right" style="margin-right:-3px;text-align:center">
                                        <div class="pull-right">
                                            <a class="btn btn-primary" href="@Url.Action("XoaGioHang","GioHang",new {@iMaSP=item.iMaSP })">Hủy</a>
                                        </div>
                                    </td>
                                </tr>
                                tongtien += @item.dThanhTien;
                            }
                        </tbody>
                    </table>
                </div>
            </form>

            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right"><strong>Tiền sản phẩm:</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @tongtien)</td>
                            </tr>
                            <tr>
                                @{
                                    VAT = tongtien * 0.1;
                                }
                                <td class="text-right"><strong>VAT (10%):</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @VAT)</td>
                            </tr>
                            <tr>
                                @{
                                    Thanhtoan = tongtien + VAT;
                                }
                                <td class="text-right"><strong>Tổng tiền thanh toán:</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @Thanhtoan)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("Index","Home")" title="Tiếp tục mua sắm">Tiếp tục mua sắm</a></div>
            </div>
        </div>
    </div>
</div>




