@using WebBanLaptop.Models
@model  List<Giohang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container">
    <div class="row">
        <div id="column-left" class="col-sm-3 hidden-xs column-left">

        </div>
        @if (Model.Count() != 0)
        {
            <div class="col-sm-9" id="content">
                <form enctype="multipart/form-data" method="post" action="#">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td style="text-align:center"><input type="checkbox" name="chontatcasp" value="" /></td>
                                    <td style="text-align:center" class="text-center">Ảnh</td>
                                    <td style="text-align:center" class="text-left">Tên sản phẩm</td>
                                    <td style="text-align:center" class="text-left">Khuyến mại(%)</td>
                                    <td style="text-align:center" class="text-left">Số lượng</td>
                                    <td style="text-align:center" class="text-right">Đơn giá</td>
                                    <td style="text-align:center" class="text-right">Tổng tiền</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double tongtien = 0;
                                    double VAT = 0;
                                    double Thanhtoan = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center"><input type="checkbox" name="chonsp" value="" /></td>
                                        <td style="text-align:center" class="text-center"><a href="#"><img style="max-width:130px" class="img-thumbnail" title="@item.sTenSP" alt="@item.sTenSP" src="~/Content/Images/i3/@item.iMaSP/trc.png"></a></td>
                                        <td style="text-align:center" class="text-left"><a href="@Url.Action("Index","ChiTietSanPham",new { @id=item.iMaSP })">@item.sTenSP</a></td>
                                        <td style="text-align:center" class="text-left">@item.dKhuyenMai</td>
                                        <td style="text-align:center" class="text-left">
                                            <div style="max-width: 200px;" class="input-group btn-block">
                                                <input type="number" class="form-control quantity_@item.iMaSP" min="1" max="100" maxlength="3"  id="qty" size="1" value="@item.iSoLuong" name="quantity" style="width:80px" onchange="TD(@item.dDonGia,@item.iMaSP,@item.dKhuyenMai)">
                                            </div>
                                        </td>
                                        <td style="text-align:center" class="text-right">@string.Format("{0:0,0đ}", @item.dDonGia)</td>
                                        <td style="text-align:center" class="text-right thanhtien" id="thanhtien_@item.iMaSP">@string.Format("{0:0,0đ}", @item.dThanhTien)</td>
                                        <td class="text-right" style="margin-right:-3px;text-align:center">
                                            <div class="pull-right">
                                                <a class="btn btn-primary" href="@Url.Action("XoaGioHang","GioHang",new {@iMaSP=item.iMaSP })">Xóa</a>
                                            </div>
                                        </td>
                                    </tr>
                                    tongtien += @item.dThanhTien;
                                }
                            </tbody>
                        </table>
                    </div>
                </form>

                <br>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8" style="width: 360px;margin-left: 533px;">
                        <table class="table table-bordered" style="width:340px">
                            <tbody>
                                <tr>
                                    <td class="text-right"><strong>Tiền sản phẩm:</strong></td>
                                    <td class="text-right TienSP" id="TienspID" style="width:170px;">@string.Format("{0:0,0}", @tongtien)đ</td>
                                </tr>
                                <tr>
                                    @{
                                        VAT = tongtien * 0.1;
                                    }
                                    <td class="text-right"><strong>VAT (10%):</strong></td>
                                    <td class="text-right" id="VATID">@string.Format("{0:0,0}", @VAT)đ</td>
                                </tr>
                                <tr>
                                    @{
                                        Thanhtoan = tongtien + VAT;
                                    }
                                    <td class="text-right"><strong>Tổng tiền thanh toán:</strong></td>
                                    <td class="text-right" id="ThanhtoanID">@string.Format("{0:0,0}", @Thanhtoan)đ</td>
                                    @{ Session["TienThanhToan"] = Thanhtoan;}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("Index","Home")" title="Tiếp tục mua sắm">Tiếp tục mua sắm</a></div>
                    <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("DonDatHang","GioHang")" title="Đơn hàng đã đặt" style="float:left;margin-left:15px">Đơn hàng đã đặt</a></div>
                    <div class="pull-right"><a class="btn btn-primary" href="@Url.Action("ThongTinKH","GioHang")" title="Mua hàng">Mua hàng</a></div>
                </div>
            </div>
        }
        else
        {
            <div class="empty-cart">
                <!-- <img src="/assets/img/mascot.png"
                alt="Không có sản phẩm nào trong giỏ hàng của bạn."> -->
                @*<span class="mascot-image"></span>*@
                <p class="message" style="margin-left:440px">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                <div class="pull-left" style="margin-left:400px"><a class="btn btn-primary" href="@Url.Action("Index","Home")" title="Tiếp tục mua sắm">Tiếp tục mua sắm</a></div>
                <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("DonDatHang","GioHang")" title="Đơn hàng đã đặt" style="float:left;margin-left:15px">Đơn hàng đã đặt</a></div>
            </div>
        }

    </div>
</div>

<script>
    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
        }
        return val;
    }
    function ChuoiSangSo(val, length) {
        var tien = val.toString();
        var dem = 1;
        var tongtien = "".toString();
        for (var i = length-2; i >= 0; i--) {
            if (dem == 4) {
                dem = 1;
                continue;
            }
            tongtien += tien[i];
            dem++;
        }
        var tongtienINT = "".toString();
        for (var i = tongtien.length - 1; i >= 0; i--) {
            tongtienINT += tongtien[i];
        }
        return tongtienINT;
    }
</script>
@*<script src="~/Content/NguoiDungCssLayout/javascript/jquery-2.1.1.min.js"></script>*@
<script type="text/javascript">
    //$(function () {
    //    $('.quantity').click(function () {
    //        var soluong = $(this).val();
    //        //var tongtien = $("#TongtienID").val();
    //        //console.log("hello");
    //        debugger
    //    })
    //});
    function TD(dDonGia, id, km) {
        //e.preventDefault();
        //var product = $(this).data('laptopid'));
        
        var str1 = "#thanhtien_" + id;
        var tien = $(str1).text();
        tien = ChuoiSangSo(tien, tien.length);
        var soluongcu = (tien / (1 - km / 100)) / dDonGia;
        var str2 = ".quantity_" + id;
        var soluong = $(str2).val();
        if (soluong > 100) {
            soluong = 100;
            $(str2).val(100);
        }
        else if (soluong < 1) {
            soluong = 1;
            $(str2).val(1);
        }
        var tiensp = $(".TienSP").text();
        tiensp = ChuoiSangSo(tiensp, tiensp.length);
        tiensp = tiensp - tien + soluong * (dDonGia * (1 - km / 100));
        var VAT = tiensp * 0.1;
        var tongtienINT = tiensp + VAT;
        var CartProduct = ({
            iMaSP: id,//Lấy dữ liệu từ thẻ
            iSoLuong: soluong
        });
        $.ajax({ //gửi dữ liệu đi
            url: '/Giohang/AddItemGioHang', //đường dẫn tới file xử lý
            data: { cartModel: JSON.stringify(CartProduct) }, //các dữ liệu gửi đi
            dataType: 'json', //xác định dữ liệu trả về thuộc dạng nào
            type: 'POST', //phương thức
            //thực thi success khi dữ liệu gửi đi thành công
            success: function (res) {
                if (res.status == true) {
                    var soluonggiohang = parseInt($('#soluonggiohang').text()) - parseInt(soluongcu) + parseInt(soluong);
                    $('#soluonggiohang').text(soluonggiohang);
                    debugger
                    var strID = "#thanhtien_" + id;
                    var thanhtien = soluong * dDonGia * (1 - km / 100);
                    $(strID).text(commaSeparateNumber(thanhtien) + "đ");
                    var tongtien = $("#TongtienID").val();
                    $('#TienspID').text(commaSeparateNumber(tiensp) + "đ");
                    $('#VATID').text(commaSeparateNumber(VAT) + "đ");
                    $('#ThanhtoanID').text(commaSeparateNumber(tongtienINT) + "đ");
                    //var list = document.querySelectorAll('.thanhtien');
                    ////var list = $('.thanhtien');
                    //var temp = "";
                    //var tempTien = 0;
                    //debugger
                    //for (var item of list) {
                    //    //temp += $(item).text();
                    //    temp = ChuoiSangSo($(item).text(), $(item).text().length);
                    //    tempTien += parseInt(temp);
                    //    console.log(tempTien);
                    //}
                    debugger
                }
            }
        });
        
        //var str2 = ".quantity_" + id;
        //var soluong = $(str2).val();
        //var thanhtien = soluong * dDonGia*(1-km/100);
        //var strID = "#thanhtien_"+id;
        //$(strID).text(commaSeparateNumber(thanhtien)+"đ");

        //ok giờ để t tét lại nãy đã ô vừa sưa gì sửa lại như nãy đoi
        //oke r đấy
        //oke r đó,còn chọn mà nó ko tính tiếp là lỗi của ô nhé :V chọn mà no k tính là sao :)) đây nhé
        //dm mạng lag kphai t để onchange nó thay đổi xong ms tính thế oke r đấy nhỉ oke r tks pro nhá :v bây giờ ô nên vứt cái hàm kia sang 1 chỗ khác dùng chung
        //hàm ô cop đáy á uk cái hàm com kia kìa t cop sang layout luôn đc nhỉ nte chắc cũng dk ko thì t bảo
        // ddeer trong layout ddi oke mà ô định thêm proj lzi thế
        //Chứa những hàm chung như kiểu định dạng ngày.kiểm tra rỗng,vs định dạng số,sau này có cả ms hàm dùng để xuất excel,...
        //để vào js k đc à ô
        //nếu để ra thì tường minh hơn,sau này ô gọi hàm đó sẽ là như này
        // Untils.Compase()
        //đó nó sẽ giống như ô gọi hàm
        //Untils.commaSeparateNumber()
    }
</script>

