@using WebBanLaptop.Models
@model  List<Giohang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container">
    <div class="row">
        <div id="column-left" class="col-sm-3 hidden-xs column-left">
            
        </div>
        <div class="col-sm-9" id="content">
            <form enctype="multipart/form-data" method="post" action="#">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead >
                            <tr>
                                <td style="text-align:center"><input type="checkbox" name="chontatcasp" value="" /></td>
                                <td style="text-align:center" class="text-center">Ảnh</td>
                                <td style="text-align:center" class="text-left">Tên sản phẩm</td>
                                <td style="text-align:center" class="text-left">Khuyến mại(%)</td>
                                <td style="text-align:center" class="text-left">Số lượng</td>
                                <td style="text-align:center" class="text-right">Đơn giá</td>
                                <td style="text-align:center" class="text-right">Tổng tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                double tongtien = 0;
                                double VAT = 0;
                                double Thanhtoan = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr >
                                    <td style="text-align:center"><input type="checkbox" name="chonsp" value="" /></td>
                                    <td style="text-align:center" class="text-center"><a href="#"><img class="img-thumbnail" title="@item.sTenSP" alt="@item.sTenSP" src="image/product/2product56x72.jpg"></a></td>
                                    <td style="text-align:center" class="text-left"><a href="@Url.Action("Index","ChiTietSanPham",new { @id=item.iMaSP })">@item.sTenSP</a></td>
                                    <td style="text-align:center" class="text-left">@item.dKhuyenMai</td>
                                    <td style="text-align:center" class="text-left">
                                        <div style="max-width: 200px;" class="input-group btn-block">
                                            <input type="number" class="form-control quantity_@item.iMaSP" min="1" max="100" id="qty" size="1" value="@item.iSoLuong" name="quantity" style="width:80px" onchange="TD(@item.dDonGia,@item.iMaSP,@item.dKhuyenMai)">
                                        </div>
                                    </td>
                                    <td style="text-align:center" class="text-right">@string.Format("{0:0,0đ}", @item.dDonGia)</td>
                                    <td style="text-align:center" class="text-right" id="thanhtien_@item.iMaSP">@string.Format("{0:0,0đ}", @item.dThanhTien)</td>
                                    <td  class="text-right" style="margin-right:-3px;text-align:center">
                                        <div class="pull-right">
                                            <a class="btn btn-primary" href="@Url.Action("XoaGioHang","GioHang",new {@iMaSP=item.iMaSP })" >Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                                tongtien += @item.dThanhTien;
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            
            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right"><strong>Tiền sản phẩm:</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @tongtien)</td>
                            </tr>
                            <tr>
                                @{ 
                                    VAT = tongtien * 0.1;
                                }
                                <td class="text-right"><strong>VAT (10%):</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @VAT)</td>
                            </tr>
                            <tr>
                                @{ 
                                    Thanhtoan = tongtien + VAT;
                                }
                                <td class="text-right"><strong>Tổng tiền thanh toán:</strong></td>
                                <td class="text-right">@string.Format("{0:0,0 }", @Thanhtoan)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("Index","Home")" title="Tiếp tục mua sắm">Tiếp tục mua sắm</a></div>
                <div class="pull-left"><a class="btn btn-primary" href="@Url.Action("DonDatHang","GioHang")" title="Đơn hàng đã đặt" style="float:left;margin-left:15px">Đơn hàng đã đặt</a></div>
                <div class="pull-right"><a class="btn btn-primary" href="@Url.Action("ThongTinKH","GioHang")" title="Mua hàng">Mua hàng</a></div>
            </div>
        </div>
    </div>
</div>
<script>
    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + '.' + '$2');
        }
        return val;
    }
</script>
<script type="text/javascript">
    function TD(dDonGia, id,km) {
        var str2 = ".quantity_" + id;
        var soluong=$(str2).val();
        var thanhtien = soluong * dDonGia*(1-km/100);
        var strID = "#thanhtien_"+id;
        $(strID).text(commaSeparateNumber(thanhtien)+"đ");
        //ok giờ để t tét lại nãy đã ô vừa sưa gì sửa lại như nãy đoi
        //oke r đấy
        //oke r đó,còn chọn mà nó ko tính tiếp là lỗi của ô nhé :V chọn mà no k tính là sao :)) đây nhé
        //dm mạng lag kphai t để onchange nó thay đổi xong ms tính thế oke r đấy nhỉ oke r tks pro nhá :v bây giờ ô nên vứt cái hàm kia sang 1 chỗ khác dùng chung
        //hàm ô cop đáy á uk cái hàm com kia kìa t cop sang layout luôn đc nhỉ nte chắc cũng dk ko thì t bảo
        // ddeer trong layout ddi oke mà ô định thêm proj lzi thế
        //Chứa những hàm chung như kiểu định dạng ngày.kiểm tra rỗng,vs định dạng số,sau này có cả ms hàm dùng để xuất excel,...
        //để vào js k đc à ô
        //nếu để ra thì tường minh hơn,sau này ô gọi hàm đó sẽ là như này
        // Untils.Compase()
        //đó nó sẽ giống như ô gọi hàm
        // à r hay vãi giờ ms biết hihi gọi thế tiện vs dễ kiểm soát vãi :D oke thế làm đi oke tks nhasaaaaaaaaaaaaaaaaaaaaaaaaaa <# haha 
        
    }
</script>