
@{
    ViewBag.Title = "TimKiemLaptop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using PagedList.Mvc;
@using PagedList;
@using WebBanLaptop.Models;
@model PagedList.PagedList<WebBanLaptop.Models.Product>

@{ Web_ban_laptopEntities db = new Web_ban_laptopEntities();}
<form id="navbar-search" class="navbar-form search-form" action="@Url.Action("TimKiemLaptop","KhuyenMai")">
    <div style="width:680px;margin-top:20px;margin-left:200px;background:#000">
        @{
            List<Hangsx> lsthangsx = db.Hangsxes.OrderBy(n => n.Hangsx_id).ToList();
        }
        <label>Hãng sản xuất: </label>
        <select name="hangsx">
            <option value="">--chọn--</option>
            @foreach (var item in lsthangsx)
            {
                if (item.Hangsx_id.ToString() == ViewBag.hangsx)
                {
                    <option value="@item.Hangsx_id" selected>@item.tenhang</option>}
                else
                {
                    <option value="@item.Hangsx_id">@item.tenhang</option>}
            }
        </select>

        <label style="margin-left:22px;">Giá:</label>
        <select name="gia" style="margin-left:10px">
            <option value="">--chọn--</option>
            @if (ViewBag.gia == "1")
            {
                <option value="1" selected>Dưới 10,000,000đ</option>}
            else
            {
                <option value="1">Dưới 10,000,000đ</option>}
            @if (ViewBag.gia == "2")
            {
                <option value="2" selected>10,000,000đ-20,000,000đ</option>}
            else
            {
                <option value="2">10,000,000đ-20,000,000đ</option>}
            @if (ViewBag.gia == "3")
            {
                <option value="3" selected>20,000,000đ-30,000,000đ</option>}
            else
            {
                <option value="3">20,000,000đ-30,000,000đ</option>}
            @if (ViewBag.gia == "4")
            {
                <option value="4" selected>30,000,000đ-40,000,000đ</option>}
            else
            {
                <option value="4">30,000,000đ-40,000,000đ</option>}
            @if (ViewBag.gia == "5")
            {
                <option value="5" selected>40,000,000đ-50,000,000đ</option>}
            else
            {
                <option value="5">40,000,000đ-50,000,000đ</option>}
            @if (ViewBag.gia == "6")
            {
                <option value="6" selected>50,000,000đ-60,000,000đ</option>}
            else
            {
                <option value="6">50,000,000đ-60,000,000đ</option>}
            @if (ViewBag.gia == "7")
            {
                <option value="7" selected>60,000,000đ-70,000,000đ</option>}
            else
            {
                <option value="7">60,000,000đ-70,000,000đ</option>}
            @if (ViewBag.gia == "8")
            {
                <option value="8" selected>70,000,000đ-80,000,000đ</option>}
            else
            {
                <option value="8">70,000,000đ-80,000,000đ</option>}

        </select>

        <label style="margin-left:15px;">Màn hình: </label>
        <select name="manhinh" style="margin-left:15px">
            <option value="">--chọn--</option>
            @if (ViewBag.manhinh == "13.3inchs")
            {
                <option value="13.3inchs" selected>13.3inchs</option> }
            else
            {
                <option value="13.3inchs">13.3inchs</option>}
            @if (ViewBag.manhinh == "14inchs")
            {
                <option value="14inchs" selected>14inchs</option>}
            else
            {
                <option value="14inchs">14inchs</option>}
            @if (ViewBag.manhinh == "15.6inchs")
            {
                <option value="15.6inchs" selected>15.6inchs</option>}
            else
            {
                <option value="15.6inchs">15.6inchs</option>}
        </select><br />

    </div>

    <div style="margin-top:10px;margin-bottom:15px;width:680px;float:left;margin-left:200px;background:#000;margin-right:15px">
        @{
            List<Discount> lstdiscount = db.Discounts.OrderBy(n => n.Discount_id).ToList();
        }
        <label>Khuyến mãi: </label>
        <select name="khuyenmai" style="margin-left:15px;width:91px;">
            <option value="">--chọn--</option>
            @foreach (var item in lstdiscount)
            {
                if (ViewBag.khuyenmai == item.Discount_id.ToString())
                {
                    <option value="@item.Discount_id" selected>@item.value%</option> }
                else
                {
                    <option value="@item.Discount_id">@item.value%</option>}
            }
        </select>

        <label style="margin-left:15px;">RAM: </label>
        <select name="RAM">
            <option value="">--chọn--</option>
            @if (ViewBag.RAM == "4Gb")
            {
                <option value="4Gb" selected>4Gb</option>}
            else
            {
                <option value="4Gb">4Gb</option>}
            @if (ViewBag.RAM == "8Gb")
            {
                <option value="8Gb" selected>8Gb</option>}
            else
            {
                <option value="8Gb">8Gb</option>}
            @if (ViewBag.RAM == "12Gb")
            {
                <option value="12Gb" selected>12Gb</option>}
            else
            {
                <option value="12Gb">12Gb</option>}
        </select>

        <label style="margin-left:125px;">Loại ổ cứng: </label>
        <select name="ocung" style="width:85px">
            <option value="">--chọn--</option>
            @if (ViewBag.ocung == "HDD")
            {
                <option value="HDD" selected>HDD</option>}
            else
            {
                <option value="HDD">HDD</option>}
            @if (ViewBag.ocung == "SSD")
            {
                <option value="SSD" selected>SSD</option>}
            else
            {
                <option value="SSD">SSD</option>}
        </select>
    </div>
    <input type="submit" name="name" value="Lọc" class="btn btn-default" />
</form>
<p style="margin-left:215px;clear:left">@ViewBag.TimKiemLaptop</p>
<div class="container">
    <div class="mainbanner">
        @*<div id="main-banner" class="owl-carousel home-slider">
                <div class="item"> <a href="#"><img src="~/Content/Images/Main-Banner1.jpg" alt="main-banner1" class="img-banner" /></a> </div>

            </div>*@
    </div>

    <div class="row content">
        @{
            foreach (var item in Model)
            {
                <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="product-thumb">
                            <div class="image product-imageblock">
                                <a href="@Url.Action("index","ChiTietSanpham",new { @id=item.Products_id })"> <img src="~/Content/Images/i3/@item.Products_id/trc.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> <img src="~/Content/Images/i3/@item.Products_id/cheo.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> </a>
                                <ul class="button-group">
                                    <li>
                                        <div class="pull-left">
                                            <a class="btn btn-primary MuaNgay" href="@Url.Action("MuaNgay", "GioHang", new { @id=item.Products_id })" title="Mua ngay">Mua ngay</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pull-right">
                                            <a class="btn btn-primary Add-Cart" id="Add-Cart_@item.Products_id" data-laptopid="@item.Products_id" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="caption product-detail">

                                <h4 class="product-name"><a href="#" title="@item.Name"><span style="color:#000;font-size:15px">@item.Name</span></a></h4>
                                @{
                                    Discount discount = db.Discounts.SingleOrDefault(n => n.Discount_id == item.Discount_id);
                                    if (discount.value == 0)
                                    {
                                        <p class="price product-price" style="font-size:18px;color:red">@string.Format("{0:0,0}", item.Gia)đ </p>
                                    }
                                    else
                                    {
                                        <p class="price product-price" style="font-size:18px;color:red"><span style="font-size:10px;color:#000"><strike>@string.Format("{0:0,0}", item.Gia)đ</strike><span style="font-size:15px;color:#0e8497;margin-left:5px">-@discount.value%</span></span>   <br />@string.Format("{0:0,0}", item.Gia * (1 - discount.value / 100))đ</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="viewmore">
            @*<div class="btn">Xem thêm</div>*@
            @*Tạo link liên kết các trang*@
            @*<br />Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount*@
            <div class="Menutrang" style="margin-left:50px;clear:left">
                @Html.PagedListPager(Model, page => Url.Action("TimKiemLaptop", "Laptop", new { @hangsx = ViewBag.hangsx, @gia = ViewBag.gia, @manhinh = ViewBag.manhinh, @khuyenmai = ViewBag.khuyenmai, @RAM = ViewBag.RAM, @ocung = ViewBag.ocung, @page = page }))
            </div>
        </div>
    </div>
</div>

<script>
    const a = document.querySelector('#Khuyenmai-id');
    a.style.color = '#ffc527';
</script>







