@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebBanLaptop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="body" style="width:800px;padding-bottom:20px;">
    <form id="navbar-search" class="navbar-form search-form" action="TimKiemLaptop">
        <div class="input-group mb-0">
            <input type="text" class="form-control" value="@ViewBag.TuKhoaLaptop" name="TuKhoaLaptop" placeholder="Tìm kiếm..." required>
            <div class="input-group-append">
                @*<span class="input-group-text"><i class="icon-magnifier"></i></span>*@
                <button type="submit" style="background-color: transparent;border-color: transparent;margin-left: -7px;margin-top: -4px;"><span style="height:36px" class="input-group-text"><i class="icon-magnifier"></i></span></button>
            </div>
        </div>
    </form>
</div>

<p>
    <a href="@Url.Action("ThemMoiLaptop", "QuanLySanPham")"><input type="button" name="themmoi" value="Thêm mới laptop" class="btn btn-default" /></a>
    <span style="margin-left:10px"><input type="checkbox" name="giá" value="" />5,000,000đ-10,000,000đ</span>
    <span style="margin-left:10px"><input type="checkbox" name="manhinh" value="" />Màn hình</span>
    <span style="margin-left:10px"><input type="checkbox" name="manhinh" value="" />Màn hình</span>
    <span style="margin-left:10px"><input type="checkbox" name="manhinh" value="" />Màn hình</span>
    <span style="margin-left:10px"><input type="checkbox" name="manhinh" value="" />Màn hình</span>
</p>
<table class="table">
    <tr style="background-color:#1f1c2030">
        
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Products_id)
        </th>
        <th style="text-align:center">Ảnh sản phẩm</th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Gia)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Soluong)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Discount_id)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Hangsx_id)
        </th>
        <th style="text-align:center"></th>
    </tr>

    @{var x = 0; }
    @foreach (var item in Model)
    {
        string bg = "";
        if (x % 2 == 0) { bg = "#363232"; }
        else
        {
            bg = "#1f1c2030";
        }
        <tr style="background-color:@bg">
            
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.DisplayFor(modelItem => item.Products_id)
                @{
                    Html.DisplayFor(modelItem => item.Products_id);
                    var id = item.Products_id;
                }
            </td>
            <td style="text-align:center">
                <img src="~/Content/Images/i3/@id/trc.png" alt="Alternate Text" style="width:100px; height:80px" />
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                
                @string.Format("{0:0,0đ}",item.Gia)
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.DisplayFor(modelItem => item.Discount.value)%
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.DisplayFor(modelItem => item.Hangsx.tenhang)
            </td>
            <td style="text-align:center;padding-top:35px;font-size:15px">
                @Html.ActionLink("Chỉnh Sửa", "ChinhSuaLaptop", new { @id = item.Products_id }) |
                @Html.ActionLink("Hiển Thị", "HienThiLaptop", new { @id = item.Products_id }) |
                @Html.ActionLink("Xóa", "XoaLaptop", new { @id = item.Products_id })
            </td>
        </tr>
            x+=1;
    }

</table>

@*Tạo link liên kết các trang*@
<div style="text-align:center; margin-top:20px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="Menutrang" style="margin-left:530px">
        @Html.PagedListPager(Model, page => Url.Action("ListLaptop", new { @page = page }))
    </div>
</div>
<style>
    .Menutrang li {
        padding-left: 8px;
        display: inline;
    }
</style>
