
@{
    ViewBag.Title = "ThemMoiLaptop";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using WebBanLaptop.Models;

<div class="container ">
    <div class="row">
        <div class="col-sm-9" id="content">
            @*<p>If you already have an account with us, please login at the <a href="login.html">login page</a>.</p>*@
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="ThemMoiLaptop" name="FormThemMoi">
                <h2 style="font-size:50px; margin-bottom:40px;margin-left:150px;padding-top:20px;color:aqua">Thêm mới laptop</h2>

                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Tên laptop</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-Name" placeholder="Tên laptop" value="" name="Name" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Hãng CPU</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-HangCPU" placeholder="Hãng CPU" value="" name="HangCPU" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label style="white-space:nowrap" for="input-firstname" class="col-sm-2 control-label">Công nghệ CPU</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-CNCPU" placeholder="Công nghệ CPU" value="" name="CNCPU" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Tốc độ max</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-TocDoMax" placeholder="Tốc độ max" value="" name="TocDoMax" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-MemoryRam" placeholder="Ram" value="" name="MemoryRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Loại ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-LoaiRam" placeholder="Loại ram" value="" name="LoaiRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Bus ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-BusRam" placeholder="Bus ram" value="" name="BusRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Số khe ram</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-KheRam" placeholder="Số khe ram" value="" name="KheRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Ổ đĩa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-ODia" placeholder="Ổ đĩa" value="" name="ODia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label" style="white-space:nowrap">Dung lượng ổ đĩa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-DungLuongODia" placeholder="Dung lượng ổ đĩa" value="" name="DungLuongODia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Card đồ họa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-CardDohoa" placeholder="Card đồ họa" value="" name="CardDohoa" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Màn hình</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-ManhHinh" placeholder="Màn hình" value="" name="ManhHinh" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Độ phân giải</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-Dophangiai" placeholder="Độ phân giải" value="" name="Dophangiai" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Giá</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-Gia" placeholder="Giá" value="" name="Gia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Số lượng</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-Soluong" placeholder="Số lượng" value="" name="Soluong" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Khuyến mãi</label>
                    <select style="padding-left:-25px;width:100px" name="Discount_id" required>
                        @{
                            var listdiscount = (List<Discount>)ViewBag.Discount;
                            foreach (var item in listdiscount)
                            {
                                <option value="@item.Discount_id"> @item.value%</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Hãng sản xuất</label>
                    <select style="padding-left:-25px;width:100px" name="Hangsx_id" required>
                        @{
                            var listhangsx = (List<Hangsx>)ViewBag.HangSX;
                            foreach (var item in listhangsx)
                            {
                                <option value="@item.Hangsx_id"> @item.tenhang</option>
                            }
                        }
                    </select>
                </div>
                @*<div class="form-group" style="margin-top:20px;margin-bottom:20px;margin-left:-80px;width:1500px">
                        <div class="col-md-10">
                            <span class="uploadImg" style="margin-left:70px"></span><input id="upTrc" type="file" name="uploadChinh" onchange="uploadTrc()" required/>
                            <span style="margin-left:80px"></span><input class="uploadImg" id="upCheo" type="file" name="uploadcheo" onchange="uploadCheo()" required />
                            <span style="margin-left:80px"></span><input class="uploadImg" id="upNgang" type="file" name="uploadngang" onchange="uploadNgang()" required />
                        </div>
                    </div>*@
                @*<div class="input-group mb-3">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtImage" placeholder="Ảnh" value="" name="txtImage" required>
                        </div>
                        <a class="btn btn-danger" id="tbImage" href="#">Chọn ảnh</a>
                    </div>*@
                <p><span style="margin-left:100px">Ảnh chính</span><span style="margin-left:250px">Ảnh phụ 1</span><span style="margin-left:250px">Ảnh phụ 2</span></p>
                <div class="input-group mb-3" style="width:1000px;margin-left:-50px;margin-bottom:20px">
                    <img id="imgTrc" src="" style="margin-left:70px;width:240px;height:220px" />
                    <img id="imgCheo" src="" style="margin-left:90px;width:240px;height:220px" />
                    <img id="imgNgang" src="" style="margin-left:80px;width:240px;height:220px" />
                    <div style="width:250px;margin-left:60px">
                        <div class="col-sm-10" style="width:150px;float:left;margin-top:15px">
                            <input type="text" class="form-control" id="DuongDanTrc" placeholder="" value="" name="imgTrc" readonly required hidden>
                        </div>
                        <a class="btn btn-danger" id="ImageChinh" href="#" style="margin-top:15px;margin-left: -70px;">Chọn ảnh</a>
                    </div>

                    <div style="width:250px;margin-left:75px">
                        <div class="col-sm-10" style="width:150px;float:left;margin-top:15px">
                            <input type="text" class="form-control" id="DuongDanCheo" placeholder="" value="" name="imgCheo" readonly required hidden>
                        </div>
                        <a class="btn btn-danger" id="ImagePhu1" href="#" style="margin-top:15px;margin-left: -60px;">Chọn ảnh</a>
                    </div>

                    <div style="width:250px;margin-left:70px">
                        <div class="col-sm-10" style="width:150px;float:left;margin-top:15px">
                            <input type="text" class="form-control" id="DuongDanNgang" placeholder="" value="" name="imgNgang" readonly required hidden>
                        </div>
                        <a class="btn btn-danger" id="ImagePhu2" href="#" style="margin-top:15px;margin-left: -60px;">Chọn ảnh</a>
                    </div>



                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        <a href="@Url.Action("ListLaptop", "QuanLySanPham")"><input type="button" name="trolai" value="Trở lại danh sách" class="btn btn-default" /></a>
                    </div>
                </div>


            </form>
        </div>

    </div>

</div>

@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>*@
<script src="~/Content/TemplateAdmin/js/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        $('#ImageChinh').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#imgTrc").attr('src', fileUrl);
                $("#DuongDanTrc").attr('value', fileUrl);
                //$('#imgTrc').val(fileUrl);
            };
            finder.popup();
        })
        $('#ImagePhu1').on('click', function (e) {
            debugger
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#imgCheo").attr('src', fileUrl);
                $("#DuongDanCheo").attr('value', fileUrl);
                //$('#imgCheo').val(fileUrl);
            };
            finder.popup();
        })
        $('#ImagePhu2').on('click', function (e) {
            debugger
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#imgNgang").attr('src', fileUrl);
                $("#DuongDanNgang").attr('value', fileUrl);
                //$('#imgNgang').val(fileUrl);
            };
            finder.popup();
        })
    })

</script>

@*<script>
        function ChonAnh() {
            debugger
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#upTrc').val(url);
            };
            finder.Popup();
        }
        //$(document).ready(function () {

        //    $('#selectImg').on('click', function () {
        //        debugger
        //        //var finder = new CKFinder();
        //        //finder.selectActionFunction = function (url) {
        //        //    $('#upTrc').val(url);
        //        //};
        //        //finder.Popup();
        //    })

        //})
    </script>*@
