
@{
    ViewBag.Title = "ThemMoiLaptop";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using WebBanLaptop.Models;

<div class="container ">
    <div class="row">
        <div class="col-sm-9" id="content">
            @*<p>If you already have an account with us, please login at the <a href="login.html">login page</a>.</p>*@
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="ThemMoiLaptop" name="FormThemMoi">
                <h2 style="font-size:50px; margin-bottom:40px;margin-left:150px;padding-top:20px;color:aqua">Thêm mới laptop</h2>
                
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Tên laptop</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-Name" placeholder="Tên laptop" value="" name="Name" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Hãng CPU</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-HangCPU" placeholder="Hãng CPU" value="" name="HangCPU" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label style="white-space:nowrap" for="input-firstname" class="col-sm-2 control-label">Công nghệ CPU</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-CNCPU" placeholder="Công nghệ CPU" value="" name="CNCPU" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Tốc độ max</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-TocDoMax" placeholder="Tốc độ max" value="" name="TocDoMax" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-MemoryRam" placeholder="Ram" value="" name="MemoryRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Loại ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-LoaiRam" placeholder="Loại ram" value="" name="LoaiRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Bus ram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-BusRam" placeholder="Bus ram" value="" name="BusRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Số khe ram</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-KheRam" placeholder="Số khe ram" value="" name="KheRam" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Ổ đĩa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-ODia" placeholder="Ổ đĩa" value="" name="ODia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Dung lượng ổ đĩa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-DungLuongODia" placeholder="Dung lượng ổ đĩa" value="" name="DungLuongODia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Card đồ họa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-CardDohoa" placeholder="Card đồ họa" value="" name="CardDohoa" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Màn hình</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-ManhHinh" placeholder="Màn hình" value="" name="ManhHinh" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Độ phân giải</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-Dophangiai" placeholder="Độ phân giải" value="" name="Dophangiai" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Giá</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-Gia" placeholder="Giá" value="" name="Gia" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Số lượng</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="input-Soluong" placeholder="Số lượng" value="" name="Soluong" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Khuyến mãi</label>
                    <select style="padding-left:-25px;width:100px" name="Discount_id" required>
                        @{
                            var listdiscount = (List<Discount>)ViewBag.Discount;
                            foreach (var item in listdiscount)
                            {
                                <option value="@item.Discount_id"> @item.value%</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Hãng sản xuất</label>
                    <select style="padding-left:-25px;width:100px" name="Hangsx_id" required>
                        @{
                            var listhangsx = (List<Hangsx>)ViewBag.HangSX;
                            foreach (var item in listhangsx)
                            {
                                <option value="@item.Hangsx_id"> @item.tenhang</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" style="margin-top:20px;margin-bottom:20px;margin-left:-80px;width:1500px">
                    <div class="col-md-10">
                        
                        <span class="uploadImg" style="margin-left:70px"></span><input id="upTrc" type="file" name="uploadChinh" onchange="uploadTrc()" />
                        <span style="margin-left:80px"></span><input class="uploadImg" id="upCheo" type="file" name="uploadcheo" onchange="uploadCheo()" />
                        <span style="margin-left:80px"></span><input class="uploadImg" id="upNgang" type="file" name="uploadngang" onchange="uploadNgang()" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        <a href="@Url.Action("ListLaptop", "QuanLySanPham")"><input type="button" name="trolai" value="Trở lại danh sách" class="btn btn-default" /></a>
                    </div>
                </div>


            </form>
        </div>

    </div>

</div>





