
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginAdmin.cshtml";
}

<div class="auth_div vivify popIn">
    <div class="auth_brand">
        @*<a class="navbar-brand" href="javascript:void(0);"><img src="~/Assets/Admin/assets/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">MoonStore</a>*@
    </div>
    <div class="card">
        <div class="body">
            <p class="lead">Đăng nhập</p>
            <div class="alert " role="alert">@Html.Raw(ViewBag.Status)</div>
            <form class="form-auth-small m-t-20" action="@Url.Action("DangNhap","Admin")" method="post">
                <div class="form-group">
                    <label for="signin-email" class="control-label sr-only">Username</label>
                    <input type="text" class="form-control round" id="login-username" value="@Session["rmbAdminName"]" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="signin-password" class="control-label sr-only">Password</label>
                    <input type="password" class="form-control round" id="login-password" value="@Session["rmbAdminPwd"]" name="pwd" placeholder="Password">
                </div>
                <div class="form-group clearfix">
                    <label class="fancy-checkbox element-left">
                        <input type="checkbox"  id="login-remember">
                        <span>Ghi nhớ</span>
                    </label>
                </div>
                @ViewBag.ErrorMessage
                <button type="submit" id="DangNhap" class="btn btn-primary btn-round btn-block">Đăng nhập</button>
                <div class="bottom">
                    <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="/Admin/QuenMatKhau">Quên mật khẩu?</a></span>
                    @*<span>Bạn chưa có tài khoản? <a href="/Admin/DangKy">Đăng ký</a></span>*@
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        debugger
        if (document.getElementById("login-password").value == "") {
            document.getElementById("login-remember").checked = false;
        }
        else {
            document.getElementById("login-remember").checked = true;
        }
    };

    document.getElementById('DangNhap').onclick = function (e) {
        debugger
        var a = 0;
        if ($('#login-remember').is(":checked")) {
            a = 1;
        }

        $.ajax({ //gửi dữ liệu đi
            url: '/Admin/rmbLogin', //đường dẫn tới file xử lý
            data: { cartModel:a }, //các dữ liệu gửi đi
            dataType: 'json', //?
            type: 'POST',

        });
    }

</script>