@model IEnumerable<WebBanLaptop.Models.Order>

@{
    ViewBag.Title = "DonHangBiHuy";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Đơn hang bị hủy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaytao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaohang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangthai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users_id)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.tongtien)*@
            <p>@string.Format("{0:0,0đ}", @item.tongtien)</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaohang)
        </td>
        <td>
            @*<select class="trangthai_@item.Order_id" name="dropdown" >
                <option value="1">Chưa xác nhận</option>
                <option value="2">Đã xử lý</option>
                <option value="3">Đã giao hàng</option>
                <option value="4" selected>Bị hủy</option>
            </select>*@
            @Html.DisplayFor(modelItem => item.trangthai)
        </td>
        <td>
            @*<button type="submit">Chi tiết đơn hàng</button>*@
            <a href="@Url.Action("ChiTietDonHang","QuanLyDonHang",new { @id=item.Order_id })">Chi tiết đơn hàng</a>
        </td>
    </tr>
}

</table>
