

@using WebBanLaptop.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="content col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thumbnails">
                        <div><a class="thumbnail fancybox"  title="Casual Shirt With Ruffle Hem"><img style="width:475px;height:380px" id="imgChinh" src="~/Content/Images/i3/@Model.Products_id/trc.png" title="@Model.Name" alt="iPod Classic" /></a></div>
                        <div class="anhsp" style="padding-left:80px;">
                            <span class="anhspchon1" style="margin-right:5px;border: 1.5px solid red;" onclick="TD(@Model.Products_id,'trc'),Boder1()"><img style="width:90px;height:90px" src="~/Content/Images/i3/@Model.Products_id/trc.png" alt="iPod Classic"  /></span>
                            <span class="anhspchon2" style="margin-right:5px;" onclick="TD(@Model.Products_id,'cheo'),Boder2()"><img style="width:90px;height:90px" src="~/Content/Images/i3/@Model.Products_id/cheo.png" alt="iPod Classic" /></span>
                            <span class="anhspchon3" onclick="TD(@Model.Products_id,'ngang'),Boder3()"><img style="width:90px;height:90px" src="~/Content/Images/i3/@Model.Products_id/ngang.png" alt="iPod Classic"  /></span>
                            
                            @*<span><img src="~/Content/Images/i3/@Model.Products_id/trc.png"  alt="iPod Classic" onclick="TD(@Model.Products_id,trc.png)" /></span>
                            <span><img src="~/Content/Images/i3/@Model.Products_id/cheo.png"  alt="iPod Classic" onclick="TD(@Model.Products_id,cheo.png)" /></span>
                            <span><img src="~/Content/Images/i3/@Model.Products_id/ngang.png"  alt="iPod Classic" onclick="TD(@Model.Products_id,ngang.png)" /></span>*@
                        </div>
                        <style>
                            /*.anhspchon:focus {
                                border: 1px solid red;
                                
                            }*/
                        </style>
                        
                        
                    </div>
                </div>
                <div class="col-sm-7 prodetail" style="margin-top:55px;">
                    <h1 class="productpage-title">@Model.Name</h1>

                    <ul class="list-unstyled productinfo-details-top">
                        <li>
                            <h2 class="productpage-price">@string.Format("{0:0,0đ}", @Model.Gia)</h2>
                        </li>
                    </ul>
                    <hr>
                    <ul class="list-unstyled product_info">
                        <li>
                            <label>Nhà sản xuất:</label>
                            <span> @ViewBag.Hangsx</span>
                        </li>
                        <li>
                            <label>Mã sản phẩm:</label>
                            <span>@Model.Products_id</span>
                        </li>
                        <li>
                            <label>Tình trạng:</label>
                            @{ int a = 0;}
                            @{

                                if (Model.Soluong > 0)
                                {
                                    <span style="color:red;font-weight:bold;font-size:18px"> Còn hàng</span>
                                    a = 0;
                                }
                                else
                                {
                                    <span style="color:red;font-weight:bold;font-size:18px;text-decoration:underline"> Hết hàng</span>
                                    a = 1;
                                }
                            }

                        </li>
                    </ul>
                    <br /><br /><br /><br />
                    @*<h2>Mô tả sản phẩm</h2>
                    <hr>
                    <p class="product-desc">
                        @Model.Motasp
                    </p>*@
                    <div id="product">
                        <div class="form-group">
                            <div class="qty">
                                <label>Số lượng</label>
                                <input id="qty" placeholder="1" type="number" name="iSoLuong" value="1" data-iSoLuong="iSoLuong">
                                <div class="pull-right">
                                    @{
                                        if (a == 1)
                                        {
                                            <a class="btn btn-primary Add-CartChiTiet" id="Add-Cart_@Model.Products_id" data-laptopid="@Model.Products_id"  disabled style="background-color:#ffc527;color:wheat" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary Add-CartChiTiet" id="Add-Cart_@Model.Products_id" data-laptopid="@Model.Products_id" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                        }

                                    }
                                </div>
                                <div class="pull-right" style="padding-right:8px;padding-left:10px;">
                                    @{
                                        if (a == 1)
                                        {
                                            <a class="btn btn-primary MuaNgayChiTiet" href="@Url.Action("MuaNgay", "GioHang", new { @id=Model.Products_id })" disabled style="background-color:#ffc527;color:wheat" title="Mua ngay">Mua ngay</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary MuaNgayChiTiet" id="MuaNgay_@Model.Products_id" data-laptopid="@Model.Products_id" title="Mua ngay">Mua ngay</a>
                                        }   

                                    }

                                </div>
                                @*<a href="@Url.Action("Index","GioHang")" role="button">Mua ngay</a>*@
                                @*<a href="@Url.Action("Index","GioHang",new {@iMaSP = Model.products_id , @strURl = Request.Url.ToString() })"><button class="themgio" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</button></a>*@
                                @*<a href="#"><input type="submit" value="abc" /></a>*@
                                @*@using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSP = Model.Products_id, @strURl = Request.Url.ToString() }))
                                { <button class="themgio" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</button> }*@
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="productinfo-tab" style="margin-left:500px;width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-description" data-toggle="tab" onclick="ThongSo()">Thông số chi tiết</a></li>
                    @*<li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        <div class="cpt_product_description ">
                            <div>
                                <table>
                                    <tr>
                                        <th style="width:150px">CPU :</th>
                                        <td style="width:400px;margin-left:-20px;">@Model.HangCPU</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">RAM :</th>
                                        <td style="width:400px">@Model.MemoryRam</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Ổ cứng :</th>
                                        <td style="width:400px">@Model.ODia</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Màn hình :</th>
                                        <td style="width:400px">@Model.ManhHinh</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Card màn hình :</th>
                                        <td style="width:400px">@Model.CardDohoa</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Cổng kết nối :</th>
                                        <td style="width:400px">LAN : 10/100/1000 Mbps, WIFI : 802.11 ac</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Hệ điều hành :</th>
                                        <td style="width:400px">Windows 10 Home Single Language 64 bit</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Trong lượng :</th>
                                        <td style="width:400px">2.27 kg</td>
                                    </tr>
                                </table>
                                <input style="margin-top:20px;margin-left:30px;" class="btn btn-primary" type="button" name="XemChiTiet" value="Xem cấu hình chi tiết" onclick="ThongSo()"/>
                            </div>
                        </div>
                        <!-- cpt_container_end -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade success-popup" id="SuccessThongSo" tabindex="-1"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:600px; margin-left:-100px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thông số kỹ thuật chi tiết</h4>
            </div>
            <div class="modal-body text-center" style="line-height:30px;text-align:left">
                <table>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Bộ xử lý:</td>
                    </tr>                               
                    <tr>
                        <th>Hãng CPU: </th>
                        <td>@Model.HangCPU</td>
                    </tr>
                    <tr>
                        <th>Công nghệ CPU: </th>
                        <td>@Model.CNCPU</td>
                    </tr>
                    <tr>
                        <th>Tốc độ CPU: </th>
                        <td>@Model.TocDoMax</td>
                    </tr>
                    <tr>
                        <th>Bộ nhớ đệm: </th>
                        <td>9 MB SmartCache</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Bo mạch:</td>
                    </tr>
                    <tr>
                        <th>Chipset: </th>
                        <td>@Model.HangCPU</td>
                    </tr>
                    <tr>
                        <th>Tốc độ bus: </th>
                        <td>@Model.BusRam</td>
                    </tr>
                    <tr>
                        <th>Hỗ trợ RAM tối đa: </th>
                        <td>32GB</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">RAM:</td>
                    </tr>
                    <tr>
                        <th>Dung lượng RAM: </th>
                        <td>@Model.MemoryRam</td>
                    </tr>
                    <tr>
                        <th>Loại RAM: </th>
                        <td>@Model.LoaiRam</td>
                    </tr>
                    <tr>
                        <th>Tốc độ BUS RAM: </th>
                        <td>@Model.MemoryRam</td>
                    </tr>
                    <tr>
                        <th>Số lượng khe cắm: </th>
                        <td>@Model.KheRam</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Đĩa cứng:</td>
                    </tr>
                    <tr>
                        <th>Loại ổ đĩa: </th>
                        <td>@Model.ODia</td>
                    </tr>
                    <tr>
                        <th>Dung lượng ổ đĩa: </th>
                        <td>@Model.DungLuongODia</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Đồ họa:</td>
                    </tr>
                    <tr>
                        <th>Chipset đồ họa: </th>
                        <td>@Model.CardDohoa</td>
                    </tr>
                    <tr>
                        <th>Bộ nhớ đồ họa: </th>
                        <td>4 GB DDR5</td>
                    </tr>
                    <tr>
                        <th>Kiểu thiết kế đồ họa: </th>
                        <td>Card rời</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Màn hình:</td>
                    </tr>
                    <tr>
                        <th>Kíc thước màn hình: </th>
                        <td>@Model.ManhHinh</td>
                    </tr>
                    <tr>
                        <th>Độ phân giải: </th>
                        <td>@Model.Dophangiai</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Âm thanh:</td>
                    </tr>
                    <tr>
                        <th>Kênh âm thanh: </th>
                        <td>2.0</td>
                    </tr>
                    <tr>
                        <th>Thông tin thêm: </th>
                        <td>Realtek High Definition Audio (DTS® Headphone: X®)</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Đĩa quang:</td>
                    </tr>
                    <tr>
                        <th>Có sẵn đĩa quang: </th>
                        <td>Không</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Tính năng mở rộng & cổng giao tiếp:</td>
                    </tr>
                    <tr>
                        <th>Cổng giao tiếp: </th>
                        <td>2 x USB 3.0 ; 1 x USB 2.0; 1 x HDMI ; 1 x RJ45 ; 1 x Microphone-in/Headphone-out Combo</td>
                    </tr>
                    <tr>
                        <th>Tính năng mở rộng: </th>
                        <td>1 x SSD SATA (M2 2280)</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Giao tiếp mạng:</td>
                    </tr>
                    <tr>
                        <th>LAN: </th>
                        <td>10/100/1000 Mbps</td>
                    </tr>
                    <tr>
                        <th>Chuẩn Wi-Fi :</th>
                        <td>802.11 ac</td>
                    </tr>
                    <tr>
                        <th>Kết nối không dây khác :</th>
                        <td>Bluetooth 5.0</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Card Reader:</td>
                    </tr>
                    <tr>
                        <th>Đọc thẻ nhớ:</th>
                        <td>Không</td>
                    </tr>
                    <tr>
                        <th>Khe đọc thẻ nhớ:</th>
                        <td>Không</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Webcam:</td>
                    </tr>
                    <tr>
                        <th>Độ phân giải:</th>
                        <td>1.0 MP</td>
                    </tr>
                    <tr>
                        <th>Thông tin thêm:</th>
                        <td>Built-in dual microphone</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Hệ điều hành, phầm mềm có sẵn:</td>
                    </tr>
                    <tr>
                        <th>Hệ điều hành :</th>
                        <td>Windows 10 Home Single Language 64 bit</td>
                    </tr>
                    <tr>
                        <th>Phần mềm có sẵn :</th>
                        <td>Không</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">PIN/Battery:</td>
                    </tr>
                    <tr>
                        <th>Loại pin :</th>
                        <td>3 Cell Int (11.4V-48Wh, 4240mAh)</td>
                    </tr>
                    <tr>
                        <th>Kiểu pin :</th>
                        <td>Liền</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Kích thước & trọng lượng</td>
                    </tr>
                    <tr>
                        <th>Kích Thước :</th>
                        <td>384 x 262 x 25 mm</td>
                    </tr>
                    <tr>
                        <th>Trọng lượng :</th>
                        <td>2.27 kg</td>
                    </tr>
                    <tr>
                        <th>Chất liệu :</th>
                        <td>Nhôm</td>
                    </tr>
                    <tr style="color:red;font-weight: bold;">
                        <td colspan="2" style="font-weight: bold;">Bảo hành</td>
                    </tr>
                    <tr>
                        <th>Bảo hành :</th>
                        <td>Nhôm</td>
                    </tr>

                </table>
                
            </div>

        </div>
    </div>
</div>



<script>
    function TD(id,img) {
        $("#imgChinh").attr('src', "/Content/Images/i3/" + id + "/" + img + ".png");
    }

    function ThongSo() {
        $('#SuccessThongSo').modal('show');
        $('.modal-backdrop').hide();

        //$('#SuccessThongSo.model.fade.in').hide();
    }
</script>

<script>
    function Boder1() {
        debugger
        const a = document.querySelector('.anhspchon2');
        a.style.border = '0px';
        const b = document.querySelector('.anhspchon3');
        b.style.border = '0px';
        const c = document.querySelector('.anhspchon1');
        c.style.border = '1.5px solid red';
    }
    function Boder2() {
        debugger
        const a = document.querySelector('.anhspchon1');
        a.style.border = '0px';
        const b = document.querySelector('.anhspchon3');
        b.style.border = '0px';
        const c = document.querySelector('.anhspchon2');
        c.style.border = '1.5px solid red';
    }
    function Boder3() {
        debugger
        const a = document.querySelector('.anhspchon2');
        a.style.border = '0px';
        const b = document.querySelector('.anhspchon1');
        b.style.border = '0px';
        const c = document.querySelector('.anhspchon3');
        c.style.border = '1.5px solid red';
    }
</script>

<style>
    td{
       
        padding-left:30px;
    }
    th {
        padding-left: 30px;
        width:200px;
    }
</style>