    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebBanLaptop.Models.Product>*@
@using WebBanLaptop.Models;
@model List<Product>
@{ var productKM = (List<Product>)ViewBag.KM; }



<div class="container">
    <div class="mainbanner">
        <div id="main-banner" class="owl-carousel home-slider">
            @*<div class="item"> <a href="#"><img src="~/Content/Images/Main-Banner1.jpg" alt="main-banner1" class="img-banner" /></a> </div>
            <div class="item"> <a href="#"><img src="~/Content/Images/Main-Banner2.jpg" alt="main-banner1" class="img-banner" /></a> </div>
            <div class="item"> <a href="#"><img src="~/Content/Images/Main-Banner3.jpg" alt="main-banner1" class="img-banner" /></a> </div>*@
        </div>
    </div>


    <div class="row content">
        <h1 style="color:red;margin-bottom:50px;background-color: #ffc527;text-align: center;height: 40px;padding-top: 9px;margin-top:-20px;"><u>Sản phẩm mới về</u></h1>
        

        @foreach (var item in Model)
        {
            <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="product-thumb">
                        <div class="image product-imageblock">
                            <a href="@Url.Action("index", "ChiTietSanpham", new { @id = item.Products_id })"> <img src="~/Content/Images/i3/@item.Products_id/trc.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> <img src="~/Content/Images/i3/@item.Products_id/cheo.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> </a>
                            <ul class="button-group">
                                <li>
                                    @*<button  type="button" class="addtocart-btn" title="Mua ngay"> <a href="@Url.Action("Index", "GioHang")">Mua ngay</a> </button>*@
                                    <div class="pull-left">
                                        <a class="btn btn-primary MuaNgay" href="@Url.Action("MuaNgay", "GioHang", new { @id=item.Products_id })" title="Mua ngay">Mua ngay</a>
                                    </div>
                                </li>
                                <li>
                                    @*<button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng"><a href="@Url.Action("ThemGioHang", "GioHang", new {@iMaSP=item.Products_id,@strURl = Request.Url.ToString()})"><i class="fa fa-cart-plus"></i></a></button>*@
                                    <div class="pull-right">
                                        <a class="btn btn-primary Add-Cart" id="Add-Cart_@item.Products_id" data-laptopid="@item.Products_id" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="caption product-detail">

                            <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem"><span style="color:#000;font-size:15px">@item.Name</span></a></h4>
                            @{
                                if (item.Discount.value == 0)
                                {
                                    <p class="price product-price" style="font-size:18px;color:red">@string.Format("{0:0,0}", item.Gia)đ </p>
                                }
                                else
                                {
                                    <p class="price product-price" style="font-size:18px;color:red"><span style="font-size:10px;color:#000"><strike>@string.Format("{0:0,0}", item.Gia)đ</strike></span>   <br />@string.Format("{0:0,0}", item.Gia * (1 - item.Discount.value / 100))đ</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <h1 style="color:red;margin-bottom:50px;background-color: #ffc527;text-align: center;height: 40px;padding-top: 9px;margin-top:800px;"><u>Sản phẩm khuyến mại nhiều nhất</u></h1>
        @foreach (var item in productKM)
        {
            <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="product-thumb">
                        <div class="image product-imageblock">
                            <a href="@Url.Action("index", "ChiTietSanpham", new { @id = item.Products_id })"> <img src="~/Content/Images/i3/@item.Products_id/trc.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> <img src="~/Content/Images/i3/@item.Products_id/cheo.png" alt="@item.Name" title="@item.Name" class="img-responsive" /> </a>
                            <ul class="button-group">
                                <li>
                                    @*<button  type="button" class="addtocart-btn" title="Mua ngay"> <a href="@Url.Action("Index", "GioHang")">Mua ngay</a> </button>*@
                                    <div class="pull-left">
                                        <a class="btn btn-primary " href="@Url.Action("MuaNgay", "GioHang", new { @id=item.Products_id })" title="Mua ngay">Mua ngay</a>
                                    </div>
                                </li>
                                <li>
                                    @*<button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng"><a href="@Url.Action("ThemGioHang", "GioHang", new {@iMaSP=item.Products_id,@strURl = Request.Url.ToString()})"><i class="fa fa-cart-plus"></i></a></button>*@
                                    <div class="pull-right">
                                        <a class="btn btn-primary Add-Cart" id="Add-Cart_@item.Products_id" data-laptopid="@item.Products_id" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="caption product-detail">

                            <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem"><span style="color:#000;font-size:15px">@item.Name</span></a></h4>
                            @{
                                if (item.Discount.value == 0)
                                {
                                    <p class="price product-price">@string.Format("{0:0,0}", item.Gia)đ </p>
                                }
                                else
                                {
                                    <p class="price product-price" style="color:red;font-size:18px"><span style="font-size:10px;color:#000"><strike>@string.Format("{0:0,0}", item.Gia)đ</strike></span>   <br />@string.Format("{0:0,0}", item.Gia * (1 - item.Discount.value / 100))đ</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }





        @*Tạo link liên kết các trang*@
        @*<br />Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount*@

        @* || <div style=" text-align:center">
            <div class="Menutrang" style="margin-left:50px;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { @page = page }))
            </div>
        </div> || *@

        @*<style>
            .Menutrang li {
                padding-left: 8px;
                display: inline;
            }
        </style>*@
    </div>
</div>

<div class="modal fade success-popup" id="SuccessMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-check-square-o" style="font-size: 50px;color: green;"></i>
                <p class="lead">Sản phẩm đã được đưa vào giỏ hàng</p>
                <a href="@Url.Action("Index","GioHang")" class="btn btn-success">Đến giỏ hàng</a>
            </div>

        </div>
    </div>
</div>

<script>
    const a = document.querySelector('#TrangChu-id');
    a.style.color = '#ffc527';
</script>
